.about-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin-top: -2rem;
    align-items: center;
    justify-content: center;
  }
  
  .about-content {
    width: 100%;
    color: white;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    font-size: 2.5rem;
    border-bottom: 2px solid #e3342f; 
    padding: 0.5rem;
    font-weight: 800;
    margin-top: 2.5rem;
  }
  
  
  @media (min-width: 1024px) {
    .heading {
      margin-top: 8rem;
    }
  }
  
  .about-sections {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    flex-wrap: wrap;
    margin-top: 3rem;
    width: 100%;
    align-items: center;
  }
  
  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
   
  }
  
  .profile-image {
    border-radius: 0.5rem;
    transform: rotate(-90deg);
  }
  
  
  @media (min-width: 1024px) {
    .about-sections {
      flex-direction: row;
      margin-top: 3rem;
      justify-content: center;
    }
    .image-container {
      width: 30%;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }
  
  .about-text {
    font-size: 1.125rem;
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .about-text p {
    margin-top: 1.75rem;
    text-align: center;
  }
  
  @media (min-width: 1024px) {
    .about-text {
      width: 50%;
    }
    .about-text p {
      text-align: left;
    }
  }
  
  .info-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 1.25rem;
  }
  
  .info-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    list-style-type: disc;
  }
  
  .info-list li::marker {
    color: #e3342f;
  }
  
  
  @media (min-width: 1024px) {
    .info-section {
      flex-direction: row;
      margin-top: 2.5rem;
    }
  }
  